# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.KUBIKA.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Camen\Documents\_gameDev\KUBIKA\KUBIKA\.idea\.idea.KUBIKA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
